<footer class="footer">
      <nav class="navbar fixed-bottom navbar-light">
        <div class="container-fluid">
          <a class="tab" href="#">About</a>
          <a class="tab" href="#">Product</a>
          <a class="tab" href="#">Login</a>
          <a class="tab" href="#">Contact</a>
          <a class="tab" href="#">Leave a Review</a>
        </div>
      </nav>
    </footer>