<footer class="footer">
      <nav class="navbar fixed-bottom">
        
          <a class="tab" href="#">About</a>
          <a class="tab" href="#">Product</a>
          <a class="tab" href="#">Login</a>
          <a class="tab" href="mailto:arevampedlifecoding@gmail.com">Contact</a>
          <a class="tab" href="https://www.yelp.com/" target="_blank">Leave a Review</a>
        
      </nav>
</footer>