<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="./Develop/assets/css/style.css" />
    <link rel="shortcut icon" href="./Develop/assets/Img/background-salad.jpeg" type="image/x-icon"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e176ffb28c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1>{{{header}}}</h1>
    </header>
    <nav>
      <a class="link" href="#">Partners</a>
      <a class="link" href="#">Mission Statement</a>
      <a class="link" href="#">Our Team</a>
      <a class="link" href="#">Contact</a>
    </nav>
    {{{body}}}
    </section>
    <footer class="footer">
      <a class="link foot" href="#">About</a>
      <a class="link foot" href="#">Product</a>
      <a class="link foot" href="#">Login</a>
      <a class="link foot" href="#">Contact</a>
      <a class="link foot" href="#">Leave a Review</a>
    </footer>
  </body>
</html>