<style>
.vl {
  border-left: 6px solid gray;
  height: 500px;
  position: absolute;
  left: 70%;
  margin-left: -3px;
  top: 15%;
}
</style>






{{!-- <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> --}}

<div class="container">
  <div class="row">
    <div class="col-9" id="menuitem">
      <h1>Choose one or more items:</h1>
    </div>
    <div class="vl"></div>
    <div class="col-3" id="basket">
      
        <table id="basketTable" class="table">
          <thead>
            <tr>
              
              <th scope="col">Dish</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope ="col">Delete</th>
            </tr>
          </thead>
          <tbody id = "checkoutTable">
          </tbody>
        </table>
      
    </div>
  </div>
</div>





<script src="/assets/js/menu.js"></script>