<h1> Payment successful, placing order with restaurant...<div class="spinner-grow" role="status">
  <span class="sr-only">Loading...</span>
</div></h1>

 


 



<script src="/assets/js/order.js"></script>