<h1> Order confirmation</h1>

<p id="confirmation">
    
</p>



<table id="order-details" class="table">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody id = "order_details">
          </tbody>
</table>

<p> This confirmation will also be sent to you via text. You will receive text notifications once the order is ready for pick up.</p>
<p> Thank you for using FoodUGrab's Online ordering service!</p>

<script src="/assets/js/order_confirmation.js"></script>

<style>
    h1, p,table {
        margin: 20px;
    }
    table{
        width: 50%
    }
</style>