<h1> Order confirmation</h1>

<p id="confirmation">
    
</p>

<p> This confirmation will also be sent to you via text. You will receive text notifications once the order is ready for pick up.</p>
<p> Thank you for using FoodUGrab's Online ordering service!</p>
<script src="/assets/js/order_confirmation.js"></script>