<h1> Please choose a restaurant to view its orders</h1>

<div id="dropdownContainer">
    <label for="restaurants">Choose a restaurant:</label>
    <select id="restaurants" name="restaurants"> </select>
    
</div>

 <script src="./assets/js/see_orders.js"></script>