<section id="box">
      <section class="about-box">
        <div>About Us</div>
        <p>
          We are a company specializing in getting the food you want in a timely manner. 
          We also believe that this process should be streamlined for you. All the restaurants you 
          want to eat at in one convenient place. If you want International house of pancakes but your wife wants 
          curry chicken, we have got you covered. One website to bring you all the food you could dream of.
          During the time of Covid, we know that having someone deliver your food does not sound like fun. The less people 
          touching your food the better. So, once you order through our sight the company you chose will start making the food for 
          each member of your family. Then you will get text message updates letting you know when each of your dishes are ready
          for pickup. And just like that you have ordered a meal for the whole family!
        </p>
      </section>