<footer class="footer">
      <a class="link foot" href="#">About</a>
      <a class="link foot" href="#">Product</a>
      <a class="link foot" href="#">Login</a>
      <a class="link foot" href="#">Contact</a>
      <a class="link foot" href="#">Leave a Review</a>
</footer>