<nav>
      <a class="link" href="#">Partners</a>
      <a class="link" href="#">Mission Statement</a>
      <a class="link" href="#">Our Team</a>
      <a class="link" href="#">Contact</a>
      
</nav>